<mat-tab-group>
    <mat-tab label="Followers">
        <mat-grid-list cols="4" rowHeight="120px">
            <mat-grid-tile *ngFor="let follower of followers">
                <p>{{follower?.login}}</p><br>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-tab>
    <mat-tab label="Repository">
        <mat-list cols="6" rowHeight="80px">
            <mat-list-item *ngFor="let repo of repos">
                <app-repo-github [repo]="repo"></app-repo-github>
            </mat-list-item>
        </mat-list>
    </mat-tab>
</mat-tab-group>